* {
    margin: 0;
    padding: 0;
}

.site {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header {
    background-color: #eeeeee;
}


.nav_toggle {
    position: relative;
    border: 0;
    background: none;
    display: none;
}

#nav_toggle {
    display: none;
}



.nav_toggle::before {
    content: '\f0c9';
    font-family: 'FontAwesome';
    font-size: 36px;
    color: #000000;
}

.nav_toggle label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.header_nav{
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_nav ul {
    display: flex;
    
}

.header_nav_nav li {
    list-style: none;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
}

.header_nav_nav li:not(:last-child) {
    margin-right: 65px;
}

.header_nav_nav li:last-child {
    display: none;
}

.header_nav_basket i {
    margin-right: 25px;
    color: #a6a6a6;
}

.header_main {
    
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.header_main_box {
    width: 410px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.header_h3 {
    font-size: 55px;
    line-height: 50px;
    
}

.header_main_box_subtitle {
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border: none;
    padding: 20px 55px;
    color: #fff;
    border-radius: 2px;
    background-color: #fb565a;
}

.zakaz {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 100px;
    
}

.zakaz_item {
    display: grid;
    grid-row-gap: 30px;
    margin: 80px 0;

}

.zakaz_item h3{
    font-size: 24px;
    text-transform: uppercase;
    
}

.zakaz_item p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.zakaz_item:nth-child(2) .button{
    background-color: #00ca74;
}

.zakaz_item:nth-child(3) .button{
    background-color: #efc84a;

}


.zakaz_item .button {
    
    padding: 20px 40px;
    margin-top: 10px;
    width: fit-content;
}

.info {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 80px;
}

.info_item1 {
    margin-top: 75px;
    width: 660px;
}

.info_item1 h3 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;

}

.info_item1 p,
.info_item1_title,
.info_item2 h3,
.info_item2_subtitle{
    margin: 40px 0;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.info_item1_title {
    margin:0 0 40px 0;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.info_item1_subtitle {
    display: flex;
    align-items: center;
}

.info_item1_subtitle img{
    margin-right: 10px;
}

.info_item1_subtitle:not(:last-child) {
    margin-bottom: 40px;
}

.info_item2 {
    margin-top: 40px;
}

.info_item2_img {
    text-align: center;
}

.info_item2 h3 {
    margin: 40px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.info_item2_items {
    display: flex;
}

.info_item2_item {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.info_item2_item:not(:last-child) {
    margin-right: 25px;
}

.info_item2_item_subtitle {
    margin-top: 30px;

}

.info_item2_item_title {
    font-size: 45px;
    font-weight: bold;
}

.info_item2_item_title span {
    vertical-align: super;
    font-size: 25px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    border-bottom: 2px solid #eeeeee;
}

.iframe {
    margin-top: 70px;
    position: relative;
}

.iframe_contact {
    padding: 45px;
    position: absolute;
    top: 40px;
    left: 140px;
    background-color: #fff;
    text-align: left;
    color: #666666;
}

.iframe_contact h3 {
    color: #000000;
    margin-bottom:  35px;
}

.iframe_contact p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 18px;
    
}

.iframe_contact .button {
    margin-top: 15px;
    padding: 20px 50px;
    font-size: 16px;
    
}

.contact_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

.contact_icons{
    display: flex;
   
}

.contact_icon {
    background-color: #e1e1e1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
}

.contact_icon a {
    color: #fff;
}

.contact_icon:not(:last-child) {
    margin-right: 10px;
}

.contact_text {
    width: 750px;
}

.contact_text h3 {
    font-size: 36px;
    margin-bottom: 10px;

}

.contact_text p {
    font-size: 16px;
    color: #444444;
}