* {
    margin: 0;
    padding: 0;
}

.site {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header {
    background-color: #eeeeee;
}

.header_nav{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_nav ul {
    display: flex;
    
}

.header_nav_nav li {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #000000;
}

.header_nav_nav li:not(:last-child) {
    margin-right: 65px;
}

.header_nav_basket i {
    margin-right: 25px;
    color: #a6a6a6;
}

.header_main {
    
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.header_main_box {
    width: 410px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.header_h3 {
    font-size: 55px;
    line-height: 50px;
    
}

.header_main_box_subtitle {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.button {
    font-size: 16px;
    line-height: 18px;
    border: none;
    padding: 20px 60px;
    color: #fff;
    border-radius: 2px;
    background-color: #fb565a;
}

.zakaz {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
    
}



.zakaz_item:nth-child(-n+3) {
    margin-top: 80px;

}

.zakaz_item h3{
    font-size: 24px;
    line-height: 30px;
}

.zakaz_item:nth-child(7),
.zakaz_item:nth-child(8),
.zakaz_item:nth-child(9) {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.zakaz_item .button {
    padding: 20px 40px;
    margin-bottom: 80px;
}

.info {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 80px;
}

.info_item1 {
    margin-top: 75px;
    width: 660px;
}

.info_item1 h3 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;

}

.info_item1 p,
.info_item1_title,
.info_item2 h3,
.info_item2_subtitle{
    margin: 40px 0;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.info_item1_title {
    margin:0 0 40px 0;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.info_item1_subtitle {
    display: flex;
    align-items: center;
}

.info_item1_subtitle img{
    margin-right: 10px;
}

.info_item1_subtitle:not(:last-child) {
    margin-bottom: 40px;
}

.info_item2 {
    margin-top: 40px;
}

.info_item2 h3 {
    margin: 40px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.info_item2_items {
    display: flex;
}

.info_item2_item {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.info_item2_item:not(:last-child) {
    margin-right: 25px;
}

.info_item2_item_subtitle {
    margin-top: 30px;

}

.info_item2_item_title {
    font-size: 45px;
    font-weight: bold;
}

.info_item2_item_title span {
    vertical-align: super;
    font-size: 25px;
}