* {
    margin: 0;
    padding: 0;
}

.site {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #eeeeee;
}

.header_nav{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_nav ul {
    display: flex;
    
}

.header_nav_nav li {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #000000;
}

.header_nav_nav li:not(:last-child) {
    margin-right: 65px;
}

.header_nav_basket i {
    margin-right: 25px;
    color: #a6a6a6;
}

.header_main {
    
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.header_main_box {
    width: 410px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.header_h3 {
    font-size: 55px;
    line-height: 50px;
    
}

.header_main_box_subtitle {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.header_button {
    font-size: 16px;
    line-height: 18px;
    border: none;
    padding: 20px 60px;
    color: #fff;
    border-radius: 2px;
    background-color: #fb565a;
}